<template name="login">
    <h2>Login</h2>

    {{#if loginError}}
        <div class="ui error attached message">
            <div class="header">
                There was a small problem.
            </div>
            <ul class="list">
                <li class="errors">{{loginError}}</li>
            </ul>
        </div>
    {{/if}}

    <form class="ui form attached fluid segment" id="login-form" action="action">
        <div class="field">
            <label for="login-email">E-mail</label>
            <input type="email" id="login-email" />
        </div>

        <div class="field">
            <label for="login-password">Password</label>
            <input type="password" id="login-password" />
        </div>

        <div class="field">
            <input type="submit" id="login-button" class="ui button" value="Sign in" />
        </div>
    </form>
</template>

<template name="logout">
    <span>{{currentUserName}}</span>

    <form class="ui form" id="logout-form" action="action">
        <div class="field">
            <input type="submit" id="logout-button" class="ui button" value="Logout" />
        </div>
    </form>
</template>

<template name="register">
    <h2>Register</h2>
    <form class="ui form attached fluid segment" id="register-form" action="action">
        <div class="field">
            <label for="account-email">E-mail</label>
            <input type="email" id="account-email" />

            {{#if registerEmailError}}
                <div class="ui pointing red label">
                    {{registerEmailError}}
                </div>
            {{/if}}
        </div>
        <div class="field">
            <label for="account-password">Password</label>
            <input type="password" id="account-password" />

            {{#if registerPasswordError}}
                <div class="ui pointing red label">
                    {{registerPasswordError}}
                </div>
            {{/if}}
        </div>
        <div class="field">
            <input type="submit" id="create-acount" class="ui button" value="Create an account" />
        </div>
    </form>
</template>

<template name="passwordRecovery">
    <h2>Reset password</h2>
    {{#if resetPasswordToken}}
        <form class="ui form attached fluid segment" id="new-password" action="action">
            <div class="field">
                <label for="new-password-password">New password</label>
                <input type="text" id="new-password-password" />

                {{#if passwordRecoveryNewPasswordError}}
                    <div class="ui pointing red label">
                        {{passwordRecoveryNewPasswordError}}
                    </div>
                {{/if}}
            </div>
            <div class="field">
                <input type="submit" class="ui button" value="Change password" />
            </div>
        </form>
    {{else}}
        <form class="ui form attached fluid segment" id="recovery-form" action="action">
            {{#if passwordRecoveryMessage}}
                <div class="field">
                    <span id="recovery-message">{{passwordRecoveryMessage}}</span>
                </div>
            {{else}}
                <div class="field">
                    <label for="recovery-email">E-mail</label>
                    <input type="text" id="recovery-email" />

                    {{#if passwordRecoveryEmailError}}
                        <div class="ui pointing red label">
                            {{passwordRecoveryEmailError}}
                        </div>
                    {{/if}}
                </div>
                <div class="field">
                    <input type="submit" class="ui button" value="Send Reset Instructions" />
                </div>
            {{/if}}
        </form>
    {{/if}}
</template>